#headerimg {
  height: 100%;
  width: 100vw;
}

img {
  height: 300px;
  margin-right: 60px;
}

.seachform{
  width: 400px;
  font-size: x-large;
  padding: 10px;
  border-radius: 10px;
  border-width: thin;
}

.btn{
  font-size: x-large;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
}

body {
  margin: 0;
}

.content {
  font-size: x-large;
  margin: 50px;
}

.mainMessage {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#message {
  color: red;
  text-align: center;
}

.resultList {
  border: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: black;
  margin: 50px;
  padding-left: 20px;
  line-height: 0.5
}

.item {
  text-decoration: none;
  color: black;
}

.resultheadertext{
  background: black;
  border-radius: 20px;
  color: white;
  padding: 5px;
}

.profile{
  border: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: black;
  margin: 50px;
  padding-left: 20px;
  width: 25%;
}

.contentposition{
  display: flex; /*直下の要素を並列*/
  flex-wrap: wrap; /*行がいっぱいになったら折り返す*/
  justify-content: center;
}


.bottomcontent{
  border: solid;
  border-width: thin;
  border-color: black;
  margin: 50px;
  padding-left: 20px;
}

.introduction{
  width: 40%;
  padding-top: 20px;
  white-space: pre;
}

.status{
  width: 35%;
  line-height: 0.5;
}

.updatecontent {
  display: flex;
  justify-content: center;
}

.requestContent {
  border: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: black;
  margin: 50px;
  padding-left: 20px;
}
