<!DOCTYPE html>
<html>
  <head>
    <title>検索結果一覧画面</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sample.css') }}">
  </head>
  <body>
    <header>
      <img src="https://storage.cloud.google.com/tst-kpgs-poc-h2o.appspot.com/EXzrSt3VcAA6c6M.jpg" id="headerimg">
    </header>
    <div class="content">
      <div class="resultheader">
        <p><span class="resultheadertext">検索結果</span>タイプ：{{search_type}}</p>
      </div>
      {% for item in db %}
        <div class="resultList">
          <a href="/detail?id={{item[0]}}&search_type={{search_type}}" class="item">
            <p>No.{{item[0]}}</p>
            <p>{{item[1]}}</p>
          </a>
        </div>
      {% endfor %}
      <button type="button" class="btn" id="searchbutton" onclick="location.href='./'">検索画面に戻る</button>
    </div>
  </body>
</html>
