<!DOCTYPE html>
<html>
  <head>
    <title>検索</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sample.css') }}">
  </head>
  <body>
    <header>
      <img src="https://storage.cloud.google.com/tst-kpgs-poc-h2o.appspot.com/EXzrSt3VcAA6c6M.jpg">
    </header>
    <div class="content">
    <p>タイプでさがす</p>
    <form method="POST" action="/" name="inputForm">
      <p><input type="text" name="type" placeholder="ひらがなで入力してください"></p>
      <button type="button" class="btn" id="searchButton" onclick="confirmFunction()">送信</button>
    </form>
    </div>
  </body>
  
  <script>
    function confirmFunction() {

      // 入力チェック
      if (inputForm.type.value === "") {
        alert("タイプを入力してください")
        return false
      }
      
      // 確認ポップアップ
      const result = confirm(`下記の情報でポケモンを検索します。よろしいですか？
タイプ：${inputForm.type.value}`)
  
      if( result ) {

      //   // 検索ボタンの二重クリック防止処理
      //   document.getElementById("searchButton").disabled = true
        // サーバに通知
        inputForm.submit()

      }
    }
  </script>

</html>
