<!DOCTYPE html>
<html>
  <head>
    <title>検索結果</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sample.css') }}">
  </head>
  <body>
    <header>
      <h1>ポケモン情報検索サイト</h1>
    </header>
    <div class="content">
      <div class="mainMessage">ポケモン情報が見つかりませんでした。</div>
      <button type="button" onclick="clearAndGoBack()">検索画面に戻る</button>
    </div>
  </body>
  <script>
    window.addEventListener('load', () => {
      const urlParams = new URLSearchParams(window.location.search);
      const clearForm = urlParams.get('clearForm');

      if (clearForm === 'true') {
        const targetForm = document.getElementById('遷移先のフォームID');
        targetForm.reset(); // フォームのリセット
      }
     });
  </script>
</html>
