<!DOCTYPE html>
<html>
  <head>
    <title>詳細画面</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sample.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="contentposition">
       <img src="https://storage.cloud.google.com/tst-kpgs-poc-h2o.appspot.com/{{number}}.png">
       <div class="profile">
        <p>No.{{number}}</p>
        <p>{{pokemonName}}</p>
        <p>タイプ：{{type}}</p>
       </div>
       <div class="introduction bottomcontent">
        <p>{{intro}}</p>
       </div>
       <div class="status bottomcontent">
        <p>HP：{{hp}}</p>
        <p>こうげき：{{attack}}</p>
        <p>ぼうぎょ：{{defense}}</p>
        <p>とくこう：{{special_attack}}</p>
        <p>とくぼう：{{special_defense}}</p>
        <p>すばやさ：{{quickness}}</p>
       </div>
      </div>
      <form method="POST" action="/update" name="inputForm">
       <input type="hidden" name="number" value="{{number}}">
       <input type="hidden" name="pokemonName" value="{{pokemonName}}">
       <input type="hidden" name="type" value="{{type}}">
       <input type="hidden" name="intro" value="{{intro}}">
       <input type="hidden" name="hp" value="{{hp}}">
       <input type="hidden" name="attack" value="{{attack}}">
       <input type="hidden" name="defense" value="{{defense}}">
       <input type="hidden" name="special_attack" value="{{special_attack}}">
       <input type="hidden" name="special_defense" value="{{special_defense}}">
       <input type="hidden" name="quickness" value="{{quickness}}">
      <button type="submit" class="btn">更新</button>
      </form>
      <button type="button" id="returnbutton" onclick="history.back()">一覧画面に戻る</button>
      <button type="button" id="seachbutton" onclick="location.href='./'">検索画面に戻る</button>
    </div>
  </body>
</html>
