<!DOCTYPE html>
<html>
  <head>
    <title>検索結果一覧画面</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sample.css') }}">
  </head>
  <body>
    <header>
      <h1>ポケモン情報検索サイト</h1>
    </header>
    <div id="content">
    </div>
    <script>

     const div1 = document.getElementById("content");
     const db = JSON.parse('{{ db_json | safe }}')
     for(let i=0; i<db.length; i++){
      const newDiv = document.createElement("div");
      const newId = document.createElement("p");
      newId.innerHTML = 'No.'+db[i][0];
      newDiv.appendChild(newId);
      const newName = document.createElement("p");
      newName.innerHTML = db[i][1];
      newDiv.appendChild(newName);
      div1.appendChild(newDiv);
    }
    </script>

  </body>
</html>
