<!DOCTYPE html>
<html>
  <head>
    <title>更新情報入力画面</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sample.css') }}">
  </head>
  <body>
    <header>
      <h1>更新情報を入力してください。</h1>
    </header>
    <div class="updatecontent">
    <div class="content">
      <p>No.{{number}}</p>
      <form method="POST" action="/save" name="inputForm">
       <input type="hidden" name="number" value="{{number}}">
       <input type="hidden" name="search_type" value="{{search_type}}">
       <p>申請者名　　　　　　　　 <input type="text" name="requestName" value="" class="seachform"></p>
       <p>申請者メールアドレス　　 <input type="text" name="requestAddress" value="" class="seachform"></p>
       <p>タイトル　　            <input type="text" name="title" value="" class="seachform"></p>
       <p>名前　　　　　　　　　　 <input type="text" name="pokemonName" value="{{pokemonName}}" class="seachform"></p>
       <p>タイプ　　　　　　　　　 <input type="text" name="type" value="{{type}}" class="seachform"></p>
       <p>紹介文　　　　　　　　　 <textarea name="intro" class="seachform" rows="3">{{intro}}</textarea></p>
       <p>ＨＰ　　　　　　　　　　 <input type="text" name="hp" value="{{hp}}" class="seachform"></p>
       <p>こうげき　　　　　　　　 <input type="text" name="attack" value="{{attack}}" class="seachform"></p>
       <p>ぼうぎょ　　　　　　　　 <input type="text" name="defense" value="{{defense}}" class="seachform"></p>
       <p>とくこう　　　　　　　　 <input type="text" name="special_attack" value="{{special_attack}}" class="seachform"></p>
       <p>とくぼう　　　　　　　　 <input type="text" name="special_defense" value="{{special_defense}}" class="seachform"></p>
       <p>すばやさ　　　　　　　　 <input type="text" name="quickness" value="{{quickness}}" class="seachform"></p>
       <p>承認者①名前　　　　 　　 <input type="text" name="approvalName_1" value="" class="seachform"></p>
       <p>承認者①メールアドレス　　<input type="text" name="rapprovalAddress_1" value="" class="seachform"></p>
       <p>承認者②名前　　　　 　　 <input type="text" name="approvalName_2" value="" class="seachform"></p>
       <p>承認者②メールアドレス　　<input type="text" name="rapprovalAddress_2" value="" class="seachform"></p>
    <button type="button" class="btn" onclick="confirmFunction(); history.back();">申請</button>
    </form>
    </div>
   </div>
  </body>
  
  <script>
    function confirmFunction() {
      
      // 確認ポップアップ
      const result = confirm(`保存しますか？`)
  
      if( result ) {

      //   // 検索ボタンの二重クリック防止処理
      //   document.getElementById("searchButton").disabled = true
        // サーバに通知
        inputForm.submit()

      }
    }
  </script>

</html>
