<!DOCTYPE html>
<html>
  <head>
    <title>更新情報入力画面</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sample.css') }}">
  </head>
  <body>
    <header>
      <h1>更新情報を入力してください。</h1>
    </header>
    <div class="content">
    　<p>No.{{number}}</p>
    　<form method="POST" action="/" name="inputForm">
       <p>名前　<input type="text" name="pokemonName" value="{{pokemonName}}" size="25"></p>
       <p>タイプ　<input type="text" name="type" value="{{type}}" size="25"></p>
       <p>紹介文　<input type="text" name="intro" value="{{intro}}" size="25"></p>
       <p>HP　<input type="text" name="hp" value="{{hp}}" size="25"></p>
       <p>こうげき　<input type="text" name="attack" value="{{attack}}" size="25"></p>
       <p>ぼうぎょ　<input type="text" name="defense" value="{{defense}}" size="25"></p>
       <p>とくこう　<input type="text" name="special_attack" value="{{special_attack}}" size="25"></p>
       <p>とくぼう　<input type="text" name="special_defense" value="{{special_defense}}" size="25"></p>
       <p>すばやさ　<input type="text" name="quickness" value="{{quickness}}" size="25"></p>
      <button type="button" class="btn" onclick="confirmFunction()">送信</button>
    </form>
    </div>
  </body>
  
  <script>
    function confirmFunction() {
      
      // 確認ポップアップ
      const result = confirm(`ほぞんしますか？`)
  
      if( result ) {

      //   // 検索ボタンの二重クリック防止処理
      //   document.getElementById("searchButton").disabled = true
        // サーバに通知
        inputForm.submit()

      }
    }
  </script>

</html>
